@font-face {
    font-family: 'Rexlia'; 
    src: url('fonts/rexlia.ttf'); 
}

@font-face {
    font-family: 'NeoSans-Medium'; 
    src: url('fonts/neosans-medium.otf'); 
}

@font-face {
    font-family: 'NeoSans-Light'; 
    src: url('fonts/neosans-light.otf'); 
}