.submitButton {
	display: inline-block;
	-webkit-appearance: none;
	height: 20px;
	margin-left: 15px; 
	background: rgba(227, 220, 225, 0.7);
	font-family: 'NeoSans-Medium';
	border: solid #666 1px;
	font-size: 14px;
	border-radius: 6px;
}

.activityForm {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.activitySelect {
	width: 80%;
	height:26px;
	font-size: 14px;
	display: inline-block;	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:6px 10px;
}

.afterActivity:after {
	height: 26px;
	right: 20px;
}
